<table cdk-table [dataSource]="listaCompradores" class="table-container">
  <!-- classificacao -->
  <ng-container cdkColumnDef="classificacao">
    <th cdk-header-cell *cdkHeaderCellDef> Classificação </th>
    <td cdk-cell *cdkCellDef="let comprador"> N/A </td>
  </ng-container>

  <!-- nome -->
  <ng-container cdkColumnDef="nome">
    <th cdk-header-cell *cdkHeaderCellDef> Nome </th>
    <td cdk-cell *cdkCellDef="let comprador"> {{comprador.nome}} </td>
  </ng-container>

  <!-- sobrenome -->
  <ng-container cdkColumnDef="sobrenome">
    <th cdk-header-cell *cdkHeaderCellDef> Sobrenome </th>
    <td cdk-cell *cdkCellDef="let comprador"> {{comprador.sobrenome}} </td>
  </ng-container>

  <!-- estado -->
  <ng-container cdkColumnDef="estado">
    <th cdk-header-cell *cdkHeaderCellDef> Estado </th>
    <td cdk-cell *cdkCellDef="let comprador"> {{comprador.endereco.estado}} </td>
  </ng-container>

  <!-- quantidade pedidos -->
  <ng-container cdkColumnDef="pedidos">
    <th cdk-header-cell *cdkHeaderCellDef> Pedidos Realizados </th>
    <td cdk-cell *cdkCellDef="let comprador"> 0 </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
</table>
