.hero{
  width: 100%;
  min-height: 100vh;
  background-image: url('../../../assets/image_background_example.png');
  background-size: cover;
  background-position: center;
  padding: 10px 10%;
  overflow: hidden;
  opacity: 65%;
}
