<app-toolbar (onPageView)="onPageViewChange($event)"></app-toolbar>

<section class="container-components">
  <ng-container *ngIf="currentPage === 'HOME'">
    <home-page (onPageView)="onPageViewChange($event)"></home-page>
  </ng-container>

  <ng-container *ngIf="currentPage === 'COMPRADOR_COMPONENT'">
    <app-comprador
      (onPageView)="onPageViewChange($event)"
      [subPage]="subPage"
      [userAccess]="userAccess"
    >
    </app-comprador>
  </ng-container>
</section>

<!-- <app-rodape></app-rodape> -->
