<ng-container *ngIf="currentPage === 'TESTE'">
  <p><b>Teste</b> de renderização dinâmica com input e output para o componente de comprador </p>

  <button (click)="testeMudaPagina('COMPRADOR_COMPONENT', 'CADASTRO')">TESTE Comprador Component</button>

  <button (click)="testeMudaPagina('COMPRADOR_COMPONENT', 'LISTAGEM')">TESTE LISTAGEM COMPRADOR Component</button>
</ng-container>

<ng-container *ngIf="currentPage === 'COMPRADOR_COMPONENT'">
  <app-comprador (onPageView)="onPageViewChange($event)" [subPage]="subPage">
  </app-comprador>

  <button (click)="testeMudaPagina('TESTE')">Página inicial (TESTE)</button>
</ng-container>

