//o texto do label (etapas de atualização) ficará sempre com a primeira letra maiuscula
::ng-deep .mat-step-text-label{
  text-transform: capitalize;
}

//cria um espaçamento entre os inputs e o texto da etapa do stepper
::ng-deep .mat-horizontal-content-container {
  padding: 24px 24px 24px 24px !important;
}

.inputs {
  .coluna {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;

    mat-form-field {
      flex: 1;
      min-width: 0; /* evita overflow em telas pequenas */

      ::ng-deep .mat-mdc-form-field-error-wrapper {
        padding: 0;

        mat-error {
          font-size: 12px;
          font-weight: 600;
          color:darkviolet;
          margin-top: 4px;
          display: block;
        }
      }
    }
  }
}

/* Responsividade para telas menores */
@media (max-width: 768px) {

  //tirando a estilização de bordas e alinhamento que impedem o label de ficar centralizado
  ::ng-deep .mat-stepper-horizontal-line {
    border-top-style: none !important;
    flex: none !important;
}

   /* Esconde todos os headers */
  ::ng-deep .mat-step-header {
    display: none !important;
  }

  /* Mostra apenas o step header selecionado */
  ::ng-deep .mat-step-header[aria-selected="true"] {
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 12px 0;
  }

  /* Centraliza o header dentro do container */
  ::ng-deep .mat-horizontal-stepper-header-container {
    justify-content: center;
  }

  .inputs{

    .coluna{
      flex-wrap: wrap;

      mat-form-field {
        flex: 1 1 40%; /* deixara 2 campos de input por linha */

        .mdc-text-field__input {
          color: darkviolet;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}

@media (max-width: 549px) {
  .inputs{

    .coluna{
      flex-wrap: wrap;

      mat-form-field {
        flex: 1 1 100%; /* deixara 1 campo de input por linha */
      }
    }
  }
}
